.librariancont{
    background-image: url('https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;background-size: cover;
}
.logoutbtn{
    color: white!important;
}